
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>
    Đơn hàng của  quý khách chúng tôi đã tiếp nhận. Chúng tôi sẽ liện hệ sớm để giao hàng hàng cho quý khách
    <a href="@Url.Action("Index","BookStore")"> Về trang chủ </a>

</h2>